<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>testProject</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable = no" />
</head>

<body>
    <!--[if lt IE 8]>
        <p class="chromeframe">网站不支持ie7及版本低于ie7的浏览器，请换其它浏览器打开网站。</p>
    <![endif]-->
    <div id="test">test</div>
    <script src="/webpack-dev-server.js"></script>
    <script type="text/javascript" src="./lib/jquery/dist/jquery.min.js"></script>
</body>

</html>